.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12vh 12vh 12vh 40vh;
    grid-template-areas:
        "activity season"
        "duration ."
        "countries difficulty"
        "listado button";
    font-size: 1.1vw;
}

.button {
    align-self: flex-end;
    justify-self: flex-end;
    grid-area: button;
    width: 11.27vw;
    height: 5.47vh;
    margin: 1.23vh 1.23vw;
    padding: 4px;
    max-width: 200px;
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 1.40vw;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.47vw;
    line-height: 24px;
    letter-spacing: 0.315em;
}

.button:hover {
    background-color: #a5f3eb;
}

.error {
    color: red;
    font-size: 1vw;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    align-self: flex-end;
}