.card {
    display:inline-flex;
    flex-direction: row;
    background: linear-gradient(0deg, rgba(122, 118, 85, 0.28), rgba(108, 107, 84, 0.28)), linear-gradient(180deg, rgba(250, 230, 53, 0.744) 38.54%, rgba(110, 105, 34, 0.694) 100%);
    width: 29.28vw;
    height: 15vh;
    background-size: cover;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 6px 8px 5px 1px rgba(0, 0, 0, 0.42);
    padding: 0;
    margin: 12px;
}
.text{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
}
.cardImg {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    width: 38.75%; 
    height: 15vh;
    background: cover;
}

.cname {
    margin: 0;
    padding: 0;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.61vw;
    letter-spacing: -0.6px;
    word-spacing: 1px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: small-caps;
    text-transform: none;
}

.contname {
    color:#000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.58vw;
    padding: 5px;
    font-weight: 700;
    margin: 0;
}


.cardbtn:hover {
    background-color: #54BAB9;
}