.text {
  font-family: 'Roboto';
  font-size: 1.17vw;
  margin-left: 1.4vw;
}

.title {
  font-family: 'Roboto';
  margin-left: 1.46vw;
  font-size: 2.1vw;
}

.container {
  display: flex;
  flex-direction: row;
  font-style: italic;
}

.images {
  display: flex;
  flex-direction: column;
  width: 14.64vw;
  /* background-color: white; */
}

.imageP {
  width: inherit;
  margin: 0;
  padding: 0;

}

.imageH {
  width: 5.1vw;
  justify-self: center;
  align-self: center;
}