.container {
    display: flex;
    flex-direction: row;
}

.sideBar {
   background: linear-gradient(90deg, rgba(15, 15, 15, 0.2) 2.08%, rgba(211, 163, 72, 0) 100%), #765126;
    
}

.cardsCont{
    background-image: url(https://res.cloudinary.com/dvzgzgzln/image/upload/v1661274912/lets-travel/tipos-mapas-default_hppftw.jpg);
    height: 100vh;
    width: 74.4vw;
    background-size: cover;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loading{
    width: 44vw;
    margin: 0;
    padding: 0;
}
 .cards{
    flex-grow: 2;
} 
.pagAndCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    margin-top: 1vh;
    flex-grow: 1;
}
.cnf{
    font-family: "Roboto",sans-serif;
    font-size: 2.56vw;
    font-weight: 700;
    background-color: rgba(118, 81, 38, 0.50);
}
.error {
    height: 100vh ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "error";
    justify-items: center;
    align-items: center;
    grid-area: cards;
}
.imag{
    mix-blend-mode: multiply;
    width: 36.6vw;
}
.botonDer{
    background-image: url(https://res.cloudinary.com/dvzgzgzln/image/upload/v1661289508/lets-travel/Icons/arrow-head_y69uxe.png);
    background-size: 5.85vw 11.42vh;
    width: 5.85vw;
    height: 11.42vh;
    align-self: center;
    transform: rotateY(180deg);
    padding: 0;
    margin: 0;
    transition: background-image 200ms;
}
.botonIzq{
    background-image: url(https://res.cloudinary.com/dvzgzgzln/image/upload/v1661289508/lets-travel/Icons/arrow-head_y69uxe.png);
    background-size: 5.85vw 11.42vh;
    width: 5.85vw;
    height: 11.42vh;
    align-self: center;
    padding: 0;
    margin: 0;
    transition: background-image 200ms;
}
.botonDer:hover{
    background-image: url(https://res.cloudinary.com/dvzgzgzln/image/upload/v1661779748/lets-travel/Icons/arrow-head-white_bygt8y.png);
    cursor: pointer;
    
}
.botonIzq:hover{
    background-image: url(https://res.cloudinary.com/dvzgzgzln/image/upload/v1661779748/lets-travel/Icons/arrow-head-white_bygt8y.png);
    cursor: pointer;
}