.conteiner {
    height: 100vh;
    background-size: cover ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    height: 95vh;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    border: 0;
}
.btn:hover{
    background:radial-gradient(rgba(161, 123, 17, 0.27) 20%, rgba(255, 255, 255, 0) 70%);
    mix-blend-mode:color-burn;
}