.desact{
    background-color: aqua;
    border: none;
    border-radius: 8px;
    padding: 4px;
    box-shadow: 6px 6px 12px #d7d7ff,
                -6px -6px 12px #e2f9ff;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
}
.desact:hover{
    background-color: rgba(0, 255, 255, 0.8);
}
.activ{
    border: none;
    border-radius: 8px;
    padding: 4px;
    background-color: #d4f3f0;
    box-shadow: 6px 6px 12px #d7d7ff,
                -6px -6px 12px #e2f9ff;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: stretch;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "a b c";
  }
  
  .a { grid-area: a; }
  
  .b { grid-area: b; }
  
  .c { grid-area: c; }
  
  