.container{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
    justify-content:space-evenly;
    height: 3vw;
    width: auto;
    font-size: 1.46vw;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(177, 126, 16, 0.68),rgba(0, 0, 0, 0));
}
.desactivado{
    background-image: url(https://res.cloudinary.com/dvzgzgzln/image/upload/v1661289504/lets-travel/Icons/pagination-frame_quqxoh.png);
    background-size: cover ;
    width: 2.5vw;
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-content: center; 
    transition: color 300ms;
}
.desactivado:hover{
    color: white
}
.activado {
    background-image: url(https://res.cloudinary.com/dvzgzgzln/image/upload/v1661779751/lets-travel/Icons/pagination-frame-selected_njondv.png) ;
    color:white;
    font-weight: 500;
    background-size: cover ;
    width: 2.5vw;
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-content: center; 
}